In [1]:
#Data.csv

**Step 1: Importing the libraries**

In [2]:
import pandas as pd 
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

**Step 2: Importing dataset**

In [3]:
df=pd.read_csv('/content/Data (1).csv')
df

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [4]:
##we will drop the country column 
df1=df.drop('Country',inplace=True,axis=1)

**Step 3: Handling the missing data**

In [5]:
df.isnull().sum()

Age          1
Salary       1
Purchased    0
dtype: int64

In [6]:
##filling the missing values using mean method
df['Age']=df['Age'].fillna(df['Age'].mean())
df['Salary']=df['Salary'].fillna(df['Salary'].mean())

df.isnull().sum()

Age          0
Salary       0
Purchased    0
dtype: int64

**Step 4: Encoding categorical data**

In [7]:
##appling labelencoding on Purchased column
le=LabelEncoder()
df['Purchased']=le.fit_transform(df['Purchased'])
df

         Age        Salary  Purchased
0  44.000000  72000.000000          0
1  27.000000  48000.000000          1
2  30.000000  54000.000000          0
3  38.000000  61000.000000          0
4  40.000000  63777.777778          1
5  35.000000  58000.000000          1
6  38.777778  52000.000000          0
7  48.000000  79000.000000          1
8  50.000000  83000.000000          0
9  37.000000  67000.000000          1

in Purchased column (yes ,no) converted into (1,0)

**Step 5: Creating a dummy variable**

In [8]:
df_dummy=pd.get_dummies(df)
df_dummy

         Age        Salary  Purchased
0  44.000000  72000.000000          0
1  27.000000  48000.000000          1
2  30.000000  54000.000000          0
3  38.000000  61000.000000          0
4  40.000000  63777.777778          1
5  35.000000  58000.000000          1
6  38.777778  52000.000000          0
7  48.000000  79000.000000          1
8  50.000000  83000.000000          0
9  37.000000  67000.000000          1

**Step 6: Splitting the datasets into training sets and Test sets**

In [9]:
x=df[['Age','Salary']]
y=df['Purchased']

x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3)

**Step 7: Feature Scaling**

In [10]:
scaling=StandardScaler()
scaled_feature=scaling.fit_transform(x_train,x_test)

In [11]:
print("features before scaling \n", df[['Age','Salary']])

print("features after scaling \n",scaled_feature)

features before scaling
          Age        Salary
0  44.000000  72000.000000
1  27.000000  48000.000000
2  30.000000  54000.000000
3  38.000000  61000.000000
4  40.000000  63777.777778
5  35.000000  58000.000000
6  38.777778  52000.000000
7  48.000000  79000.000000
8  50.000000  83000.000000
9  37.000000  67000.000000
features after scaling
 [[-1.07196652 -0.75155441]
 [ 1.48129967  1.56004475]
 [-0.05066004 -0.1935822 ]
 [ 1.22597305  1.24120349]
 [-1.45495645 -1.2298163 ]
 [-0.17832335  0.2846797 ]
 [ 0.04863364 -0.91097504]]