 You are provided with a dataset from USA Forensic Science Service
which has description of 6 types of glass; defined in terms of their
oxide content (i.e. Na, Fe, K, etc). Your task is to use K-Nearest
Neighbor (KNN) classifier to classify the glasses.

let's start with  Importing the basic libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.neighbors import KNeighborsClassifier
import warnings
warnings.filterwarnings('ignore')

importing dataset

Attribute Information:

1. Id number: 1 to 214
2. RI: refractive index
3. Na: Sodium (unit measurement: weight percent in corresponding oxide, as are attributes 4-10)
4. Mg: Magnesium
5. Al: Aluminum
6. Si: Silicon
7. K: Potassium
8. Ca: Calcium
9. Ba: Barium
10. Fe: Iron
11. Type of glass: (class attribute)
           -- 1 building_windows_float_processed

           -- 2 building_windows_non_float_processed

           -- 3 vehicle_windows_float_processed

           -- 4 vehicle_windows_non_float_processed

           -- 5 containers

           -- 6 tableware

           -- 7 headlamps

In [2]:
columns=['Id','RI','Na','Mg','Al','Si','K','Ca','Ba','Fe','Glass_type']

glass_data_train=pd.read_csv('trainKNN.txt',names=columns,index_col='Id')


glass_data_test=pd.read_csv('testKNN.txt',names=columns,index_col='Id')

In [3]:
glass_data_train

          RI     Na    Mg    Al     Si     K    Ca    Ba   Fe  Glass_type
Id
1    1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.00  0.0           1
2    1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.00  0.0           1
3    1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.00  0.0           1
4    1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.00  0.0           1
5    1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.00  0.0           1
..       ...    ...   ...   ...    ...   ...   ...   ...  ...         ...
207  1.51645  14.94  0.00  1.87  73.11  0.00  8.67  1.38  0.0           7
208  1.51831  14.39  0.00  1.82  72.86  1.41  6.47  2.88  0.0           7
209  1.51640  14.37  0.00  2.74  72.85  0.00  9.45  0.54  0.0           7
210  1.51623  14.14  0.00  2.88  72.61  0.08  9.18  1.06  0.0           7
211  1.51685  14.92  0.00  1.99  73.06  0.00  8.40  1.59  0.0           7

[196 rows x 10 columns]

# EDA (Exploriatory data analysis)

In [4]:
glass_data_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 196 entries, 1 to 211
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   RI          196 non-null    float64
 1   Na          196 non-null    float64
 2   Mg          196 non-null    float64
 3   Al          196 non-null    float64
 4   Si          196 non-null    float64
 5   K           196 non-null    float64
 6   Ca          196 non-null    float64
 7   Ba          196 non-null    float64
 8   Fe          196 non-null    float64
 9   Glass_type  196 non-null    int64
dtypes: float64(9), int64(1)
memory usage: 16.8 KB

In [5]:
glass_data_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18 entries, 68 to 214
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   RI          18 non-null     float64
 1   Na          18 non-null     float64
 2   Mg          18 non-null     float64
 3   Al          18 non-null     float64
 4   Si          18 non-null     float64
 5   K           18 non-null     float64
 6   Ca          18 non-null     float64
 7   Ba          18 non-null     float64
 8   Fe          18 non-null     float64
 9   Glass_type  18 non-null     int64
dtypes: float64(9), int64(1)
memory usage: 1.5 KB

no null values in dataset

In [6]:
glass_data_train.Glass_type.unique()

array([1, 2, 3, 5, 6, 7])

here 4th type of  vehicle_windows_non_float_processed glass  not in dataset

let's find out dataset is imbalanced or not

In [7]:
type1=glass_data_train[glass_data_train.Glass_type==1]
type1.shape

(67, 10)

In [8]:
type2=glass_data_train[glass_data_train.Glass_type==2]
type2.shape

(73, 10)

In [9]:
type3=glass_data_train[glass_data_train.Glass_type==3]
type3.shape

(14, 10)

In [10]:
type5=glass_data_train[glass_data_train.Glass_type==5]
type5.shape

(10, 10)

In [11]:
type6=glass_data_train[glass_data_train.Glass_type==6]
type6.shape

(6, 10)

In [12]:
type7=glass_data_train[glass_data_train.Glass_type==7]
type7.shape

(26, 10)

# Standarization

In [13]:
x_train=glass_data_train[['RI','Na','Mg','Al','Si','K','Ca','Ba','Fe']]
x_test=glass_data_test[['RI','Na','Mg','Al','Si','K','Ca','Ba','Fe']]
y_train=glass_data_train['Glass_type']
y_test=glass_data_test['Glass_type']

In [14]:
from sklearn.preprocessing import StandardScaler

scaling=StandardScaler()
scaling.fit_transform(x_train,x_test)

array([[ 0.89081203,  0.3389847 ,  1.24616006, ..., -0.11334995,
        -0.33935667, -0.5834224 ],
       [-0.22479561,  0.65902807,  0.60544985, ..., -0.76221546,
        -0.33935667, -0.5834224 ],
       [-0.69400706,  0.19816562,  0.56945489, ..., -0.79747989,
        -0.33935667, -0.5834224 ],
       ...,
       [-0.62182068,  1.27351132, -1.98618697, ...,  0.38035207,
         0.77644048, -0.5834224 ],
       [-0.67760106,  0.97907143, -1.98618697, ...,  0.18992414,
         1.8509118 , -0.5834224 ],
       [-0.47416673,  1.97760672, -1.98618697, ..., -0.36020096,
         2.94604604, -0.5834224 ]])

# implementation of KNN model

In [15]:
from sklearn.model_selection import cross_val_score

for i in [1,2,3,4,5,12,13,14,15,16,25]:
  knn = KNeighborsClassifier(i)
  knn.fit(x_train,y_train)
  print("K value  : " , i, " train score : ", knn.score(x_train,y_train) , " cv score : ", np.mean(cross_val_score(knn, x_train, y_train)))

K value  :  1  train score :  1.0  cv score :  0.6435897435897436
K value  :  2  train score :  0.8469387755102041  cv score :  0.6329487179487179
K value  :  3  train score :  0.8367346938775511  cv score :  0.5873076923076923
K value  :  4  train score :  0.7857142857142857  cv score :  0.5975641025641026
K value  :  5  train score :  0.7653061224489796  cv score :  0.6025641025641025
K value  :  12  train score :  0.6836734693877551  cv score :  0.6437179487179486
K value  :  13  train score :  0.6581632653061225  cv score :  0.6385897435897434
K value  :  14  train score :  0.6836734693877551  cv score :  0.6385897435897434
K value  :  15  train score :  0.6683673469387755  cv score :  0.6283333333333332
K value  :  16  train score :  0.673469387755102  cv score :  0.6437179487179486
K value  :  25  train score :  0.6377551020408163  cv score :  0.5973076923076923

# Lets try with two different distance metrics: 
# The performance of the two models Square Euclidean and Manhattan distance.

In [16]:
from scipy.spatial import distance
from sklearn.metrics import classification_report

for i in [2,4,6,8,10,12,14,16,18,20]:
  euclidean_model= KNeighborsClassifier(n_neighbors=i, metric=distance.sqeuclidean)
  euclidean_model.fit(x_train,y_train)
  print("K value  : " , i, " train score : ", euclidean_model.score(x_train,y_train) , " cv score : ", np.mean(cross_val_score(euclidean_model, x_train, y_train)))

K value  :  2  train score :  0.8469387755102041  cv score :  0.6329487179487179
K value  :  4  train score :  0.7857142857142857  cv score :  0.5975641025641026
K value  :  6  train score :  0.7397959183673469  cv score :  0.6126923076923076
K value  :  8  train score :  0.7040816326530612  cv score :  0.6129487179487179
K value  :  10  train score :  0.6887755102040817  cv score :  0.6180769230769231
K value  :  12  train score :  0.6836734693877551  cv score :  0.6437179487179486
K value  :  14  train score :  0.6836734693877551  cv score :  0.6385897435897434
K value  :  16  train score :  0.673469387755102  cv score :  0.6437179487179486
K value  :  18  train score :  0.6683673469387755  cv score :  0.6230769230769231
K value  :  20  train score :  0.6683673469387755  cv score :  0.6075641025641025

In [17]:
for i in [1,3,5,7,9,11,13,15,17,19,21]:
  manhattan_model= KNeighborsClassifier(n_neighbors=i, metric=distance.cityblock)
  manhattan_model.fit(x_train,y_train)
  print("K value  : " , i, " train score : ", manhattan_model.score(x_train,y_train) , " cv score : ", np.mean(cross_val_score(manhattan_model, x_train, y_train)))

K value  :  1  train score :  1.0  cv score :  0.6328205128205127
K value  :  3  train score :  0.8673469387755102  cv score :  0.6178205128205129
K value  :  5  train score :  0.7857142857142857  cv score :  0.6434615384615385
K value  :  7  train score :  0.7551020408163265  cv score :  0.6330769230769231
K value  :  9  train score :  0.7244897959183674  cv score :  0.6332051282051282
K value  :  11  train score :  0.7091836734693877  cv score :  0.6178205128205128
K value  :  13  train score :  0.7091836734693877  cv score :  0.6126923076923076
K value  :  15  train score :  0.6887755102040817  cv score :  0.6126923076923078
K value  :  17  train score :  0.6887755102040817  cv score :  0.6178205128205128
K value  :  19  train score :  0.6785714285714286  cv score :  0.5974358974358973
K value  :  21  train score :  0.6479591836734694  cv score :  0.6074358974358975

In [18]:
manhattan_predictions = manhattan_model.predict(x_test)
euclidean_model_predictions = euclidean_model.predict(x_test) 
df = pd.DataFrame({'actual': y_test, 'manhattan': manhattan_predictions, 'euclid':euclidean_model_predictions})
df

     actual  manhattan  euclid
Id
68        1          1       1
69        1          1       1
70        1          1       1
144       2          2       2
145       2          1       1
146       2          1       1
161       3          1       1
162       3          1       1
163       3          1       1
174       5          2       2
175       5          2       2
176       5          2       2
183       6          7       7
184       6          7       7
185       6          7       7
212       7          7       7
213       7          7       7
214       7          7       7

In [19]:
manhattan_count = len(df.loc[df['manhattan'] == df['actual']])
euclid_count = len(df.loc[df['euclid'] == df['actual']])
print('Manhattan Accuracy: {}%'.format(round(100*manhattan_count/len(df), 2)))
print(classification_report(y_test, manhattan_predictions, target_names=df['actual'].astype(str).unique()))
print ('\n')
print('Square Euclidean Accuracy: {}%'.format(round(100*euclid_count/len(df), 2)))
print(classification_report(y_test, euclidean_model_predictions, target_names=df['actual'].astype(str).unique()))

Manhattan Accuracy: 38.89%
              precision    recall  f1-score   support

           1       0.38      1.00      0.55         3
           2       0.25      0.33      0.29         3
           3       0.00      0.00      0.00         3
           5       0.00      0.00      0.00         3
           6       0.00      0.00      0.00         3
           7       0.50      1.00      0.67         3

    accuracy                           0.39        18
   macro avg       0.19      0.39      0.25        18
weighted avg       0.19      0.39      0.25        18



Square Euclidean Accuracy: 38.89%
              precision    recall  f1-score   support

           1       0.38      1.00      0.55         3
           2       0.25      0.33      0.29         3
           3       0.00      0.00      0.00         3
           5       0.00      0.00      0.00         3
           6       0.00      0.00      0.00         3
           7       0.50      1.00      0.67         3

    accuracy                           0.39        18
   macro avg       0.19      0.39      0.25        18
weighted avg       0.19      0.39      0.25        18